* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.selectContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.filters{
    background: transparent;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: large;
    color: #e9a617;
    border: 1px solid #e9a617;
    background-color: white;
    border-radius: 5px;
}

option{
    color: #e9a617;
}